body {
  margin: 0;
  font-family: sans-serif;
}

#react {
  min-height: 100vh;
}

.sysinfo {
  background-color: #263238;
  color: #fafafa;
  font-family: monospace;
  display: flex;
}

.sysinfo > div {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.sysinfo-title {
  margin: 0 8px;
  display: inline-block;
  min-width: 44px;
}

.sysinfo-prefix {
  margin: 0 12px;
}

.sysinfo-prefix.free {
  color: #689f38;
}

.sysinfo-prefix.total {
  color: #00838f;
}

.sysinfo-prefix.avail {
  color: #f06292;
}
